body {
    font-family: 'Helvetica Neue', Tahoma, Geneva, Verdana, sans-serif;    
    margin: 0;
}

#map-container {
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
}

#last-checkin {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 5%;
    min-width: 300px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 10px 15px;
}

#last-checkin > h1 {
    color: #000;
    font-weight: 100;
    margin: 0;
}

#last-checkin > .ago {
    color: red;
    float: left;
    margin-top: -15px;
    min-height: 125px;
    min-width: 115px;
    text-align: center;
}

#last-checkin > .ago .number {
    font-size: 96px;
    font-weight: 200;
    margin-bottom: -15px;
}

#last-checkin > .ago .ago-text {
    font-weight: 100;
}

#last-checkin > .last-checkin-details {
    font-size: 14px;
    margin-top: 10px;
    padding-left: 45%;
}

#last-checkin > .last-checkin-details > p {
    margin: 0 0 10px 0;
}


div.checkin-time {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
}

div.checkin-location {
    font-size: 16px;
    padding-bottom: 2px;
}

div.checkin-area {
    font-size: 12px;
    padding-bottom: 10px;
}

div.checkin-latlng {
    font-size: 10px;
}